{% extends "layout.html" %}

{% block title %}
    Account
{% endblock title %}

{% block main %}
<div class="page-container">
    <div class="title-box">
        <h1 class="title">Account Settings</h1>
    </div>
    <div>
        <div class="basic-info-container">
            <h2 class="account-heading">Basic Info</h2>
            <hr>
            <table class="account-table">
                <tr>
                    <th class="account-table-heading">username</th>
                    <td class="account-table-item">{{ user.username }}</td>
                    <form action="{{ url_for('auth.change_username') }}" method="POST" >
                        <td class="account-table-item">
                            <input type="text" name="new_username" style="width: 200px;">
                        </td>
                        <td class="account-table-item">
                            <input type="submit" class="reset-button" value="Change Username">
                        </td>
                    </form>
                        <td class="account-table-item"></td>
                </tr>
                <tr>
                    <th class="account-table-heading">email</th>
                    <td class="account-table-item">{{ user.email }}</td>
                    <form action="{{ url_for('auth.change_email_request') }}"   
                    method="POST" onSubmit="return confirm('Are you sure you want to change your email? This will temporarily disable all WordGuess\'s API usage until new email is confirmed.')">
                        <td class="account-table-item">
                            <input type="text" name="new_email" style="width: 200px;">
                        </td>
                        <td class="account-table-item">
                            <input type="submit" class="reset-button" value="Change Email">
                        </td>
                    </form>
                </tr>
                <tr>
                    <th class="account-table-heading">account status</th>
                    {% if user.confirmed == True %}
                        <td class="account-table-item">Confirmed</td>
                        <td class="account-table-item"></td>
                    {% else %}
                        <td class="account-table-item">Unconfirmed Email Address</td>   
                        <td class="account-table-item">    
                            <a href="{{ url_for('auth.resend_confirmation') }}">Resend Confirmation</a>
                        </td>
                    {% endif %}
                </tr>
            </table>
        </div>
        <br>
        <br>
        <div class="basic-info-container">
            <h2 class="account-heading">Manage Account</h2>
            <hr>
            <table class="account-table">
                <tr>
                    <td class="account-table-item">Reset Password</td>
                    <td class="account-table-item">
                        <a href="{{ url_for('auth.reset_password_request') }}">Reset Password</a>
                    </td>
                </tr>
                <tr>
                    <td class="account-table-item">Reset Account</td>
                    <td class="account-table-item">
                        <form action="{{ url_for('auth.reset_account_request') }}" method="POST" onSubmit="return confirm('Are you sure you want to reset your account? This will permanently delete all of your solvers and their associated games and cannot be undone.');">
                            <input type="hidden" value="{{ user.id }}">
                            <div class="tooltip">
                                <input type="submit" style="background-color: #dd396d" value="Reset Account">
                                <span class="account-tooltip">Email confirmation is required.</span>
                            </div>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td class="account-table-item">Delete Account</td>
                    <td class="account-table-item">
                        <form action="{{ url_for('auth.delete_account_request') }}" method="POST" onSubmit="return confirm('Are you sure you want to delete your account? This if permanent and cannot be undone.');">
                            <input type="hidden" value="{{ user.id }}">
                            <div class="tooltip">
                                <input type="submit" style="background-color: #dd396d" value="Delete Account">
                                <span class="account-tooltip">Email confirmation is required.</span>
                            </div>
                        </form>

                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock main %}