__pycache__/
.pytest_cache/
.env
.venv
.virtualenv
.vscode/
.wordguess_api_venv/
instance/
.coverage
flask_session/
*.log
.logs/*
logs
app.db

# personal notes specifically which tests tp write
todo.txt