
body {
    font-family: Oxygen, monospace, nunito-sans,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen-Sans,Ubuntu,Cantarell,helvetica neue,sans-serif;
}


/* Nav-Bar */
.container {
    width: 100%;
    height: 100%;
}

.navbar {
    top: 0;
    display: flex;
    width: 100%;
    justify-content: center;

}

.navbar ul {
    display: flex;
    list-style: none;
    align-items: flex-start;
    align-content: center;
    padding-left: 0;
}

.navbar ul li {
    margin: 0 1rem;
}

.navbar ul li:first-child {
    padding-left: 0;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}



/* Title bar */

.title {
    text-align: center;
    margin: .5rem;
    padding: .5rem;
    color: #17614a;
}

/* Flashbar */
.flashbar {
    list-style-type: none;
    text-align: center;
    margin: 10px;
    color: white;
    font-weight: 500;
    font-size: 16;
}
.flashbar li {
    background-color: #4396a8;
    opacity: 75%;
    padding: 10px;
   
}


/* Account Settings */

.page-container {
    max-width: 1200px;
    margin: 5px 20px;
    padding: 0 16px;
}

.page-title {
    border-bottom: 1px solid #5c5e60;
    width: 100%;
}


/* index */
.intro {
    text-align: center;
}


/* forms */
.form-box {
    text-align: center;
}


/* user-page table */
.table-title {
    text-align: center;
    margin: 10px;
    font-weight: bold;
    color: #17614a;
    font-family: "Oxygen";
    font-style: normal;
}

.table-container {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .08);
}

.table-row {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    border-bottom: 1px solid #ddd;
    justify-content: center;
    align-items: center;
    min-height: 40px;
}

.heading {
    background-color: #ececec;
    color: #3e3e3e;
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.row-item {
    display: flex;
    flex: 1;
    font-size: 12px;
    padding: 8px, 0;
    justify-content: center;
    align-items: center;
}

input[type=submit] {
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    padding: 3px 8px;
    font-size: 13px;
    min-width: 80px;
    font-weight: 500;
    border-color: none;
    color: white;
    background-color: #22916e;
}


/* Solver Page */
.solver-header {
    display: flex;
    justify-content: space-around;
    align-items: start;
    width: 100%;
}

.solver-header-title {
    align-self: start;
    padding-right: 7%;
}

.solver-table-container {
    width: 60%;
    margin-right: 10%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border: 1px solid #ddd;
    /* margin: 0 auto; */
}

.solver-Rtable-heading {
    color: #17614a;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.solver-title-text {
    text-align: center;
    margin: .5rem;
    padding: .5rem;
    color: #17614a;
    font-size: 40px;
}

.solver-Rrow {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;
    height: 40px;
}

.Rrow-header {
    background-color: #ececec;
}

.solver-Rrow-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 40px;
    text-align: center;
    font-size: 12px; 
    padding: 8px, 0;
    
}

.solver-Rrow-divider{
    height: 40px;
}


/* Solver Games Tables Via Gridbox */

.games-table-title {
    text-align: center;
    margin: 30px;
    font-weight: bold;
    color: #17614a;
    font-family: "Oxygen";
    font-style: normal;
}

.games-table-container {
    text-align: center;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

table {
    border-collapse: collapse;
    border: 1px solid #ddd;
    max-width: 100%;
}

th {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    min-width: fit-content;
    background-color: #ececec;
    padding: 10px;
}

td {
    border-bottom: 1px solid #ddd;
    min-width: fit-content;
    padding: 5px;
    border-right: 1px solid #ddd;
    
}

.guess {
    background-color: #cecccc;
    border-bottom: 2px solid;
    border-right: 1px solid;
    min-width: 60px;
    padding: 5px;
}


.navigation-links-games {
    position: relative;
    max-width: 60%;

}

.previous-games-link-box {
    float: left;
    text-align: center;
    font-size: 15px;
}

.next-games-link-box {
    float: right;
    text-align: center;
    font-size: 15px;
}
