{% extends "layout.html" %}

{% block title %}
    WordGuess
{% endblock %}

{% block main%}
<div class="title-box">
    <h1 class="title">WordGuessAPI</h1>
</div>
<div>
    <p class="intro">Welcome! WordGuessAPI is a wordle clone you play via API calls.  Ideally this was created to programmatically test wordle solvers without needing to manually input their answers into the terminal.  WordGuessAPI is primarily written in Python with a bit of HTML and CSS for the website.  I also used Flask as the web framework, SQLAlchemy/SQLite to manage the database, and Pytest for testing.</p>
</div>
<hr>
   
<div class="front-steps">
    <h1>How To Play</h1>
    <h3>Create a solver that can make the following POST requests:</h3>
    <ul>
        <li><strong>https://www.wordguess_api.com/api/tokens</strong>
            <ul>
                <li>
                    <strong>POST</strong> request for a 30 min api token
                </li>
                <li>
                    User must have an account and confirmed email address.
                </li>
                <li><strong>Requirements</strong>
                    <ul>
                        <li>Basic Auth header with username and password</li>
                    </ul>
                </li>                
                <li>Response will get returned as a JSON token in the form:</li>
                    <ul>
                        <li style="list-style: none;">
                            {"token": &lt;"unique 30 min token goes here"&gt;}
                        </li>
                    </ul>
            </ul>
        </li>
        <br>
        <li><strong>http://www.wordguess_api.com/api/start</strong>
            <ul>
                <li>
                    <strong>POST</strong> request that starts a new game.
                </li>
                <li><strong>Requirements</strong>
                    <ul>
                        <li>Auth token inside of the header in the following format: </li>
                        <ul>
                            <li style="list-style: none;">{"Authorization": "Bearer: &lt;"unique token"&gt;"}</li>
                        </ul>
                        <li>Request body that contains the unique solver id
                        <ul>
                            <li style="list-style: none;">{"solver_id": &lt;"unique solver_id found on solver's page&gt;"}</li>
                        </ul>
                    </ul>
                </li>
                <li><strong>Example using python requests:</strong>
                    <ul>
                        <li style="list-style: none;">
                            <pre><code>
    import requests
    
    token_header = {"Authorization": "Bearer: my unique token"}

    request_body = {"solver_id": "my solver's unique api id"}

    r = requests.post(
        url="https://www.wordguess_api.com/api/start",
        headers=token_header,
        json=request_body
    )

                            </code></pre>
                        </li>
                    </ul>
                </li>
                <li>Responses from the start and guess will be returned as a JSON in the following format:
                    <ul>
                        <li style="list-style: none;">
                            <pre><code>
    {
        "game_token": 
        "solver_name": "The name you gave your solver",
        "status": "True if game is active else False",
        "guess_count": "0",
        "guesses": "Empty dictionary used to store guesses as received",
        "correct_word": "*****",
        "message": "Optional error message",
        "results": "'None' if game is still current else 'won' if the user won or 'lost'"
    }
                            </code></pre>
                    </ul>
                </li>
            </ul>
        </li>
        <br>
        <li><strong>http://www.wordguess_api.com/api/guess</strong>
            <ul>
                <li>
                    <strong>POST</strong> request that makes a guess to game started via the start request above.
                </li>
                <li><strong>Requirements</strong>
                    <ul>
                        <li>Request body that contains the game token and a valid 5 letter word
<pre><code>
{
    "game_token": "game token received in starting payload",
    "guess": "5 letter guess"
}
</code></pre>            
                    </ul>
                </li>
                <li><strong>Example using python requests:</strong>
                    <ul>
                        <li style="list-style: none;">
                            <pre><code>
    import requests
    
    request_body = {"game_token": "the game's unique iD"}

    r = requests.post(
        url="https://www.wordguess_api.com/api/guess",
        json=request_body
    )
                            </code></pre>
                        </li>
                    </ul>
                </li>
                <li>Response will be the same from making a start request. If the solver's guess was valid, the "guesses" value will be in the form:
                    <ul>
                        <li style="list-style: none;">
                            <pre><code>
    {
        "1": {"guess": "user's 5 letter guess", "feedback": "5 letter feedback"}
    }
                            </code></pre>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
{% endblock%}

