{% extends "layout.html" %}

{% block title %}
    WordGuess
{% endblock %}

{% block main%}
<div class="title-box">
    <h1 class="title">WordGuessAPI</h1>
</div>
<div class="intro-container">
    <p style="text-align: center;">
        WordGuessAPI is an API for programmable Wordle Solvers.  This was created as a way for people to test their Python Wordle solvers without needing to manually type out the answers into a terminal screen. 
    </p>
    <div class="how-to-play">
        <p><strong style="color: #16614a">The key features for WordGuessAPI are:</strong></p>
        <ul class="color-list">
            <li><strong>API endpoints</strong> to play WordGuessAPI (Wordle), view your account, and access game information including all of the words played.</li>
            <li><strong>Manages multiple solvers</strong> with their own statistics and gameplay history.</li>
            <li><strong>Graphically access </strong>your account, register solvers, and view statistics via this website.</li>
            <li><strong>Beginner friendly documentation</strong> to help new Python programmers create and their their own Wordle solver.</li>
            <li><strong>Free</strong> of charge!</li>
        </ul>
    </div>

    
</div>
<hr>  
<div class="how-to-play">
    <h1>How To Play Wordle</h1>
    <p>Every day at the <a href="https://powerlanguage-wordle.github.io/"> Wordle website</a> a new 5 letter word is chosen. Users have 6 guesses to try and figure out what the word is.  After each guess, the website will display the user's guess with a color coded background based on the correct word. The different colors are: </p>
    <ul class="color-list">
        <li><mark style="background-color: #17614a; color: white;"> Green </mark>: The letter is in the word and in the correct spot</li>
        <li><span style="background-color: #d5c076; color: black;"> Yellow </span>: The letter is in the word but not in the correct spot</li>
        <li><mark style="background-color: #3a3a3c; color: white;"> Grey </mark>: The letter is not in the word (or has already been accounted for in another guess spot)</li>
    </ul>
</div>

<img class="wordle-example-pic" src="{{ url_for('static', filename='assets/Wordle_Animation.gif') }}">    

<div class="how-to-play">
    <p>For example, in the screen shot shown above the user took 4 guesses (starting at the word "GREAT") to determine the correct word "PIXIE".  
</div>      
<hr>

<div class="how-to-play" style="text-align: left;">
    <h1>How to play WordGuessAPI</h1>
    <p>To emulate the color feedback Wordle gives, WordGuessAPI returns a 5 character string with a 'G' (Green), 'Y' (Yellow), or 'B' (Grey/Black). Guess feedback is sent back to the player inside of a nested JSON (part of a larger payload) dictionary. If the Wordle screenshot above was played via WordGuessAPI instead, the feedback would look like: 
    </p>
    <pre><code class="language-python">
{
    "1": {"guess": "GREAT", "feedback": "BBYBB"},
    "2": {"guess": "SLIME", "feedback": "BBYBG"},
    "3": {"guess": "INDIE", "feedback": "YBBGG"},
    "4": {"guess": "PIXIE", "feedback": "GGGGG"}
}
    </code></pre>
</div>
<div class="how-to-play" style="text-align: left;">
    <h2>Requesting A Token</h2>
        <p>
            Registered users can start a game session by requesting a token using their username and password using a basic auth protocol. Tokens allow the user to interact with the API for 30 min until needing to request another.
        </p>

    <pre><code class="language-python">
import requests
from requests.auth import HTTPBasicAuth

basic_auth = HTTPBasicAuth(
    "your unique username",
    "your user's password"
)

url = "https://www.wordguess_api.com/api/tokens"

token_payload = requests.post(
    url=url,
    auth=basic_auth
)
            </code></pre>
        
        <p>
            Tokens are returned in the following JSON format:
        </p>
        
        <pre><code class="language-python">
{
    "token": "your unique 30 min token"
}
                        </code></pre>
</div>

<div class="how-to-play" style="text-align: left;">
    <h2>Starting A Game</h2>
        <p>Your solver can start a new game by sending a POST request to the 'api/start' with the auth token inside of a header and sending the solver id inside of the post body. <i>Registered users can add solvers and create a solver id on that solver's page.</i> </p>
    
    <pre><code class="language-python">
import requests

auth_header = {"Authorization": "Bearer 'your unique token'"}
request_body = {"solver_id": "your solver's id"}

url = 'https://www.wordguess_api.com/api/start'

r = requests.post(
    url=url,
    headers=auth_header,
    json=request_body
)

    </code></pre>
    
    <p>The response for starting a game  will be returned as in JSON in the following format.</p>
    

    <pre><code class="language-python">
{
    "game_token": "unique game token used to make guesses",
    "solver_name": "your solvers name",
    "correct_word": "Will be ***** unless game is complete, then full word will be returned",
    "status": "True if game is still current",
    "guess_count": "Integer number of guesses",
    "guesses": "{}",
    "message": "Message if there is an error with your guess",
    "results": "None if game is current else 'Won' or 'lost'"
}    
    </code></pre>
    
    <p>Note that if guesses have been made the "guesses" key will be in for format shown in "How to Play WordguessAPI"</p>
</div>
<div class="how-to-play" style="text-align: left;">
    <h2>Making a Guess</h2>
    <p>
        Once you have started the game your solver can make guesses. Using the "game_token" value from the start, a valid 5 letter guess, and the same auth header used to start the game, your solver can send a guess request to the 'api/guess' route with the following form body
    </p>
    <pre><code class="language-python">
{
    "game_token": "your token that was sent via the start response",
    "guess": "a valid 5 letter guess"
}    
    </code></pre>
    
    <p>
        Using the requests Python library, an example 'api/guess' request might be put together in the following way:
    </p>
    
    <pre><code class="language-python">
import requests

url = "http://www.wordguess_api.com/api/guess"

auth_header = {"Authorization": "Bearer 'your unique token'"}

guess_body = {
    "game_token": "not a real game token",
    "guess": "climb"
}


r = requests.post(
    url=url,
    json=guess_body,
    headers=auth_header
)

    </code></pre>

    <p>If you or your solver correctly guesses the word or you use your 6 guesses, </p>


</div>
<div class="how-to-play" style="text-align: left;">
    <h2>Putting it all together</h2>
    <p>
        Generally if you have a Wordle solver you will want it to play multiple games in a row.  
    </p>
</div>
<div class="loop-image-box">
    <div class="loop-image-container">
        <img src="{{ url_for('static', filename='assets/api_loop.png')}}">
    </div>
</div>
<div class="how-to-play">
    <p>
        An example of how a solver might be structured in order to interact with the WordGuessAPI to play games
    </p>
    <pre><code class="language-python">
# Example Solver Structure in Python

class MySolver:
    self.api_token = ""
    self.solver_id = "fake_id"
    self.rounds
    self.words
    self.current_guess
    self.feedback
    self.status
    
    # TODO: Logic that picks next guess and 
    # makes token, start, and guess requests
    
    def _play_round(self):
    self.start()
    while self.guess_count < 6:
        self.pick_next_word()
        self.guess()
        if self.status == False:
            return
    def play(self, rounds: int):
        self.rounds = rounds
        count = 1
        # Request Token
        self._request_token()
        # Gameplay Loop
        while count <= self.rounds:
            self._populate_words()
            self._reset_helpers()
            self._play_round()
            self.update_single_stats()
            count += 1
        
def main():
    solver = MySolver()
    solver.play()

if __name__ == '__main__':
    main()   

    </code></pre>

   
</div>

{% endblock%}

