<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="{{ url_for('static', filename='code/main.js') }}"></script>        
        <title>WordGuess: {% block title %}{% endblock %}</title>
       
    </head>
 
    <body>
        <div class="container">
            <nav class="navbar">
                <ul>
                    <li><a href="{{ url_for('main.index') }}">WordGuess</a></li>
                    <li>
                        <a href="{{ url_for('main.documentation') }}">Documentation</a>
                    </li>
                    
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('auth.login') }}">Log in</a></li>
                    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                    {% else %}
                    <li><a href="{{ url_for('auth.account') }}">Account</li>
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
                <button onclick="darkMode()">Dark Mode</button>
            </nav>
            <div class="flashbar">
                <ul>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                    <li class="flashbar">{{ message }}</li>
                </ul>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
            </div>
                {% block main %}{% endblock %}
        </div>
    </body>
</html>

