{% extends "layout.html" %}

{% block title %}
    Word-Guess - {{ solver.name }} Page
{% endblock title %}

{% block main %}

<div class="page-container">
    <div class="solver-header">
        <div class="solver-header-title">
            <h1 class="solver-title-text">{{ solver.name }}'s<br>Page</h1>     
        </div>
        <div class="solver-table-container">
            <div class="solver-Rrow">
                <div class=".solver-Rrow-cell solver-Rtable-heading">Stats</div>
            </div>
            <div class="solver-Rrow">
                <div class="solver-Rrow-cell Rrow-header">Solver ID</div>
                <div class="solver-Rrow-cell">{{ solver.id }}</div>
                <hr class="solver-Rrow-divider">
                <div class="solver-Rrow-cell Rrow-header">Words Played</div>
                <div class="solver-Rrow-cell">{{ solver.words_played }}</div>
            </div>
            <div class="solver-Rrow">
                <div class="solver-Rrow-cell Rrow-header">Words Won</div>
                <div class="solver-Rrow-cell">{{ solver.words_won }}</div>
                <hr class="solver-Rrow-divider">
                <div class="solver-Rrow-cell Rrow-header">Average Won</div>
                <div class="solver-Rrow-cell">{{ solver.avg }}</div>
            </div>
            <div class="solver-Rrow">
                <div class="solver-Rrow-cell Rrow-header">Average Guesses</div>
                <div class="solver-Rrow-cell">{{ solver.avg_guesses }}</div>
                <hr class="solver-Rrow-divider">
                <div class="solver-Rrow-cell Rrow-header">Highest Streak</div>
                <div class="solver-Rrow-cell">#TODO</div>
            </div>
            <div class="solver-Rrow">
                <div class="solver-Rrow-cell Rrow-header">API Key</div>
                {% if solver.api_key != None %}
                <div class="solver-Rrow-cell">{{ solver.api_key }}</div>
                {% else %}
                <div class="solver-Rrow-cell">None</div>
                {% endif %}
            </div>
            <div class="solver-Rrow">
                <div class="solver-Rrow-cell ">
                    <form action="{{url_for('main.create_new_key') }}" method="POST">
                        <input type="hidden" value="{{ solver.id }}" name="solver">
                        <input type="submit" class="reset-button" value="Create New API KEY">
                    </form>
                </div>
            </div>
        </div>
            
        
    </div>
    <div class="games-table-title">
        <h2>Games Table</h2>
    </div>
    <div class="games-table-container">
        <table>
            <tr>
                <th>GameID</th>
                <th>Date-Time</th>
                <th>Total Guesses</th>
                <th>Results</th>
                <th>Correct Word</th>
                <th>Guesses</th>
            </tr>
            {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>#TODO</td>
                <td>{{ game.guess_count }}</td>
                {% if game.results == True %}
                <td>Won</td>
                {% else %}
                <td>Lost</td>
                {% endif %}
                <td>{{ game.correct_word }}</td>
                <td>{{ game.guesses }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    
        <div class="navigation-links-games"></div>
            <div class="previous-games-link-box">
                {% if prev_url %}
                <a href="{{ prev_url }}">Prev</a>
                {% endif %}
            </div>
            <div class="next-games-link-box">
                {% if next_url %}
                <a href="{{ next_url }}">Next</a>
                {% endif %}
            </div>
        </div>
    
</div>

{% endblock main %}
