{% extends "layout.html" %}

{% block title %}
    Word-Guess - {{ solver.name }} Page
{% endblock title %}

{% block main %}
    <div class="solver-info-container">
        <div class="solver-info-name-container">
            <h1 class="solver-info-name">{{ solver.name }}'s page</h1>
        </div>
        <div class="solver-stats-table-container">
            <div class="table-container">
                <table id="solver-stats">
                    <tr>
                        <th class="table-heading">Words Played</th>
                        <th class="table-heading">Words Won</th>
                        <th class="table-heading">Average Won</th>
                        <th class="table-heading">Average Guesses</th>
                    </tr>
                    <tr>
                        <td class="table-row">{{ solver.words_played }}</td>
                        <td class="table-row">{{ solver.words_won }}</td>
                        <td class="table-row">{{ solver.avg }}</td>
                        <td class="table-row">{{ solver.avg_guesses }}</td>
                    </tr>
                    <tr>
                        <th colspan="4" class="table-heading">API Key</th>
                    </tr>
                    <tr>
                        {% if solver.api_key != None %}
                        <td colspan="4" class="table-row">
                            {{ solver.api_id }}
                        </td>
                        {% else %}
                        <td colspan="4" class="table-row">None</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td colspan="4" class="table-row">
                            <form action="{{ url_for('main.create_new_key') }}" method="POST">
                            <input type="hidden" value="{{ solver.id }}" name="solver">
                            <input type="submit" class="reset-button" value="Create New API KEY">
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div>
        <div class="games-table-title-bar">
            <h2>Games Table</h2>
            <div class="games-search-select">
                <form  action="{{ url_for('main.solver', solver_name=solver.name) }}" method="GET">
                    <select name="filter" id="filterList">
                        <option value="options">Filters</option>
                        <option value="lost">Lost Games</option>
                        <option value="won">Won Games</option>
                        <option value="reset">Reset</option>
                    </select>
                    <input type="submit" class="reset-button" value="select">
                </form>
            </div>
        </div>
        <div class="table-container">
            <table id="games">
                <tr>
                    <th class="table-heading">GameID</th>
                    <th class="table-heading">Date Played</th>
                    <th class="table-heading">Total Guesses</th>
                    <th class="table-heading">Results</th>
                    <th class="table-heading">Correct Word</th>
                    <th class="table-heading">Guesses</th>
                </tr>
                {% for game in games %}
                <tr>
                    <td class="table-row">{{ game.id }}</td>
                    <td class="table-row">{{ game.timestamp.strftime('%m-%d-%Y') }}</td>
                    <td class="table-row">{{ game.guess_count }}</td>
                    <td class="table-row" id="results">
                        {% if game.results == True %}
                            Won
                        {% else %}
                            Lost
                        {% endif %} 
                    </td>
                    <td class="table-row">{{ game.correct_word }}</td>
                    <td class="table-row">{{ game.guesses }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="navigation-links-games">
            <div class="previous-games-link-box">
                {% if prev_url %}
                <a href="{{ prev_url }}">Prev</a>
                {% endif %}
            </div>
            <div class="next-games-link-box">
                {% if next_url %}
                <a href="{{ next_url }}">Next</a>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock main %}
