{% extends "layout.html" %}

{% block title %}
    Word-Guess - {{ solver.name }} Page
{% endblock title %}

{% block main %}

<div class="page-container">
    <div class="solver-header">
        <div class="solver-header-title">
            <h1 class="solver-title-text">{{ solver.name }}'s<br>Page</h1>     
        </div>
        <div class="solver-table-container">
            <div class="solver-Rrow">
                <div class=".solver-Rrow-cell solver-Rtable-heading">Stats</div>
            </div>
            <div class="solver-Rrow">
                <div class="solver-Rrow-cell Rrow-header">Solver ID</div>
                <div class="solver-Rrow-cell">{{ solver.id }}</div>
                <hr class="solver-Rrow-divider">
                <div class="solver-Rrow-cell Rrow-header">Words Played</div>
                <div class="solver-Rrow-cell">{{ solver.words_played }}</div>
            </div>
            <div class="solver-Rrow">
                <div class="solver-Rrow-cell Rrow-header">Words Won</div>
                <div class="solver-Rrow-cell">{{ solver.words_won }}</div>
                <hr class="solver-Rrow-divider">
                <div class="solver-Rrow-cell Rrow-header">Average Won</div>
                <div class="solver-Rrow-cell">{{ solver.avg }}</div>
            </div>
            <div class="solver-Rrow">
                <div class="solver-Rrow-cell Rrow-header">Average Guesses</div>
                <div class="solver-Rrow-cell">{{ solver.avg_guesses }}</div>
                <hr class="solver-Rrow-divider">
                <div class="solver-Rrow-cell Rrow-header">Highest Streak</div>
                <div class="solver-Rrow-cell">{{ solver.max_streak }}</div>
            </div>
            <div class="solver-Rrow">
                <div class="solver-Rrow-cell Rrow-header">API Key</div>
                {% if solver.api_key != None %}
                <div class="solver-Rrow-cell">{{ solver.api_id }}</div>
                {% else %}
                <div class="solver-Rrow-cell">None</div>
                {% endif %}
            </div>
            <div class="solver-Rrow">
                <div class="solver-Rrow-cell ">
                    <form action="{{ url_for('main.create_new_key') }}" method="POST">
                        <input type="hidden" value="{{ solver.id }}" name="solver">
                        <input type="submit" class="reset-button" value="Create New API KEY">
                    </form>
                </div>
            </div>
        </div>
            
        
    </div>
    

    <div class="games-table">
        <div class="games-table-title-bar">
            <div class="games-table-title">
                <h2>Games Table</h2>
            </div>
            <div class="games-search-select">
                <!-- <p>Filter Games</p> -->
                <form  action="{{ url_for('main.solver', solver_name=solver.name) }}" method="GET">
                    <select name="filter" id="filterList">
                        <option value="options">Filters</option>
                        <option value="lost">Lost Games</option>
                        <option value="won">Won Games</option>
                        <option value="reset">Reset</option>
                    </select>
                    <input type="submit" class="reset-button" value="select">
                </form>
            </div>
        </div>
        <div class="games-table-container">
            <table id="games">
                <tr>
                    <th class="solver-heading">GameID</th>
                    <th class="solver-heading">Date Played</th>
                    <th class="solver-heading">Total Guesses</th>
                    <th class="solver-heading">Results</th>
                    <th class="solver-heading">Correct Word</th>
                    <th class="solver-heading">Guesses</th>
                </tr>
                {% for game in games %}
                <tr>
                    <td class="solver-table-item">{{ game.id }}</td>
                    <td class="solver-table-item">{{ game.timestamp.strftime('%m-%d-%Y') }}</td>
                    <td class="solver-table-item">{{ game.guess_count }}</td>
                    <td class="solver-table-item" id="results">
                        {% if game.results == True %}
                            Won
                        {% else %}
                            Lost
                        {% endif %} 
                    </td>
                    <td class="solver-table-item">{{ game.correct_word }}</td>
                    <td class="solver-table-item">{{ game.guesses }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="navigation-links-games">
            <div class="previous-games-link-box">
                {% if prev_url %}
                <a href="{{ prev_url }}">Prev</a>
                {% endif %}
            </div>
            <div class="next-games-link-box">
                {% if next_url %}
                <a href="{{ next_url }}">Next</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock main %}
